@import url("https://fonts.googleapis.com/css2?family=New+Rocker&family=Source+Sans+3&display=swap");

* {
  font-family: "Source Sans 3", sans-serif;
}
img {
  width: 100%;
}
.Name-loker {
  font-size: 19px;
  color: rgb(0, 119, 255);
  cursor: pointer;
}

.card-loker {
  width: 100%;
  height: 250px !important;
}

.wraper-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}
.Name-loker:hover {
  color: red;
}
.container {
  position: relative;
}
.card:hover {
  cursor: pointer;
}

.wrapper-view-card {
  height: 100vh;
  position: relative;
}

.card-view-loker {
  width: 739px;
  height: 100%;
  background-color: white;
  position: fixed;
}
@media screen and (max-width: 1200px) {
  .card-view-loker {
    width: 532px;
  }
}
@media screen and (max-width: 992px) {
  .card-view-loker {
    width: 100%;
    left: 0px;
  }
  .wrapper-view-card {
    display: none !important;
  }
  .carousel-indicators {
    display: none !important;
  }
}
.z-index-1 {
  z-index: 1;
}

.page-loker {
  padding-top: 100px !important;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}
.content-wrapper {
  overflow: scroll !important;
  height: 80vh;
}

/* riset */
.nice-riset {
  position: fixed;
  right: 0px;
  width: 10%;
  height: 100vh;
  overflow: scroll;
}

.max-width-overview {
  max-width: 500px !important;
}

.humberger-menu {
  width: 30px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.humberger-menu > span {
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.711);
  border-radius: 20px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none !important;
}
